<p>
  <strong>Word:</strong>
  <%= @word.name %>
</p>
 
<p>
  <strong>Meaning:</strong>
  <%= @word.meaning %>
</p>
<p>
  <strong>Sentence:</strong>
  <%= @word.sentence %>
</p>
<p>
  <strong>Synonym:</strong>
  <%= @word.synonym %>
</p>
<p>
  <strong>Context:</strong>
  <%= @word.context %>
</p>
<p>
  <strong>Root:</strong>
  <%= @word.root %>
</p>
 
<%= link_to 'Back', words_path %>
